
.pagination {
    display: flex !important;
    justify-content: center;
}
.pagination li {
    margin-left: 0px; 
    margin-right: 0px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.current {
    background: #337ab7 !important;
    color: #fff !important;
}